# Environnement virtuel
monenv/
venv/
env/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Fichiers de configuration
*.sqlite3
*.log
*.env

# Dossier de migrations
**/migrations/

# Fichiers système
.DS_Store
*.swp

